.typed-out {
   overflow: hidden;
    border-right: .15em solid #aeaeae;
    white-space: nowrap;
    margin: 0 auto;
    animation:
    typing 4s steps(40, end),
    blink-caret .75S step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 218, 255); }
  }
