.sidebarOption {
    display: flex;
    align-items: center;
    color: gray;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
  }
  
  .sidebarOption:hover {
    color: white;
  }
  
  .sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }

  .add-button {
    color: #fff;
    background-color: #7c25f8;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    transition-property: background-color;
    transition-duration: .3s;
    justify-content: right;
    align-items: flex;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
  }

